<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Employee List</h2>

    <table border="1 px">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>phone</th>
            <th>email</th>
            <th>date</th>            
            <th>Action</th>
            <th>Action</th>




        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.id}}</td>
            <td>{{ i.empname}}</td>
            <td>{{ i.phone}}</td>
            <td>{{ i.email}}</td>
            <td>{{ i.date}}</td>
            <td>
                <a href="/del/{{ i.id }}">Delete</a>
            </td>

            <td>
                <a href="/upd/{{ i.id }}">Edit</a>
            </td>


        </tr>
        {% endfor %}
    </table>
</body>
</html>