<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    <script src="{% static 'js/myjs.js' %}"></script>
</head>
<body>
    <h2>
        Welcome to static page
    </h2>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt dolor 
        explicabo accusamus suscipit officiis iusto, praesentium, 
        architecto at excepturi sed, reprehenderit facilis dolores 
        ut earum magni asperiores. Nemo, accusamus maxime?</p>
</body>
</html>