<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Student List</h2>

    <table border="1 px">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>

        </tr>
        {% for st in stud %}
        <tr>
            <td>{{ st.name}}</td>
            <td>{{ st.email}}</td>
            <td>{{ st.age}}</td>
            <td>
                <a href="{% url 'student-delete' st.pk %}">Delete</a>
            </td>
            <td>
                <a href="{% url 'student-update' st.pk %}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>